<h1><%= @company.name %></h1>
<h2><%= @company.symbol %></h2>

<div id="companyPriceChart"></div>

<div>
  <% @connected_quote_arr.each do |group| %>
    <table class="table table-condensed">
      <tr>
        <th>日期</th>
        <th>涨幅</th>
        <th>开市价</th>
        <th>收市价</th>
        <th>高位</th>
        <th>低位</th>
        <th>交易量</th>
      </tr>

      <% group.each do |quote| %>
        <tr>
          <td><%= quote.date %></td>
          <td><%= "#{ ((quote.close - quote.open) / quote.open * 100).round(2) } %" %></td>
          <td><%= quote.open %></td>
          <td><%= quote.close %></td>
          <td><%= quote.high %></td>
          <td><%= quote.low %></td>
          <td><%= quote.volume %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>

<!-- 
<table class="table table-condensed">
  <tr>
    <th>Date</th>
    <th>Open</th>
    <th>High</th>
    <th>Low</th>
    <th>Close</th>
    <th>Volume</th>
    <th>Adjusted Close</th>
  </tr>
  <% @company.daily_quotes.first(100).each do |q| %>
    <tr>
      <td><%= q.date %></td>
      <td><%= q.open %></td>
      <td><%= q.high %></td>
      <td><%= q.low %></td>
      <td><%= q.close %></td>
      <td><%= q.volume %></td>
      <td><%= q.adj_close %></td>
    </tr>
  <% end %>
</table> -->