<!DOCTYPE html>
<html ng-app="dimSumApp">
<head>
  <title>Bitcoin Trading Analysis</title>
  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  <%= javascript_include_tag 'highstock' %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
