<!DOCTYPE html>
<html ng-app="moneyDB">
<head>
  <title>Bit KungFu</title>
  
  <%= include_gon(:init => true) %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= html_import_tag 'application' %>
  <script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  <script src="https://code.highcharts.com/stock/highstock.js"></script> 

  <%= html_import_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body id="body_background">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><%= link_to "首页", root_path %></li>
        <li><%= link_to "深圳股票", companies_path %></li>
        <li><%= link_to "昨日涨5-10％", daily_five_percent_path %></li>
        <li><%= link_to "前和昨日涨5-10％", two_day_five_percent_path %></li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 main" style="padding-top:70px;">
        <%= yield %>
      </div>

<!--       <div class="col-xs-2 col-xs-offset-10 sidebar" style="padding-top:70px;">
        <div id="messages_box">
          <ul id="messages_list">
            <% Message.all.each do |message| %>
              <li><%= message.content %></li>
            <% end %>
          </ul>
        </div>

        <div id="message_input_form">
          <%= form_for Message.new, :remote => true do |f| %>
            <%= f.text_field :content, :placeholder => "message", :class => "col-xs-8" %>
            <%= f.submit "Send", :class => "col-xs-4", :data => { disable_with: 'Submitting...' } %>
          <% end %>
        </div>
      </div>
 -->
    </div>
  </div>

</body>
</html>
